/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 20px;
    background-color: #2c262D; /* Add your desired background color */
    color: #fff; /* Add your desired text color */
  }
  
  .menu-icons {
    display: flex;
    position: relative;
    left: 20px;
    top: 4px;
  }
  .logo img {
      position: relative;
      top:2px;
  }
.search-container {
    position: relative;
    
}
.search-bar {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #2c262D;
    color: white;
    padding-left: 50px; /* Make space for the search icon */
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 30%;
    transform: translateY(-50%);
    color: white;
}
i{
    margin: 10px;
}

  .store-locator,
  .sign-in,
  .shopping-bag,
  .site-picker {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .locator-icon,
  .sign-in-icon,
  .bag-icon,
  .site-picker-icon {
    width: 20px;
    height: 20px;
    /* Add background image or icon styles */
  }
  