.product {
  position: relative;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
  border: 1px solid #ddd;
}

.product img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  padding: 15px;
}
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0px;
}
.carousel-container h1{
  font-size: 50px;
}

.carousel {
  display: flex;
  justify-content: center;
  border-radius: 0px;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  padding: 0 10px;
  text-align: center;
}

.carousel-card.active {
  opacity: 1;
}

.product {
  margin-top: 10px;
  padding: 10px;
  border-radius: 0px;
}

.title {
  margin-top: 10px;
}

.price {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}

.arrow-left,
.arrow-right {
  width: 80px;
  height: 80px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid white;
}

.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.05); 
  border-radius: 50%;
  border: 1px solid #ddd;
}

.arrow-left:disabled,
.arrow-right:disabled {
  cursor: pointer;
}

.arrow-left i,
.arrow-right i {
  font-size: 50px;
}


.price {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #333; 
}

.rating {
  padding: 10px 15px;
  color: #333;
}

.btn1,
.btn2,
.btn3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white; 
  margin-right: 5px;
}

/* Add background images to your buttons as needed */
.btn1 {
  background-color: #86bfc8;
}

.btn2 {
  background-color: #96d06a;
}

.btn3 {
  background-color: #36a1f2;
}
